# Variables d'environnement
.env
.env.*
!.env.sample
!.env.example

# Python
__pycache__/
*.pyc
.venv/
venv/

# Fichiers temporaires
*.log
.DS_Store

# VS Code
.vscode/

# Airflow credentials
infra/airflow-passwords.json