POSTGRES_USER=neoretail
POSTGRES_PASSWORD=change_me
POSTGRES_DB=airflow
MINIO_ROOT_USER=neoretail
MINIO_ROOT_PASSWORD=change_me
AIRFLOW_UID=50000
AIRFLOW_FERNET_KEY=replace_with_generated_fernet_key
AIRFLOW_JWT_SECRET=replace_with_generated_random_secret
AIRFLOW_ADMIN_PASSWORD=change_me